<html>

<head>
    <meta charset="utf-8" />
    <title>Example App</title>
    <link rel="stylesheet" href="./styles/output.css"/>
    <link rel="stylesheet" href="./styles/style.css"/>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>

<body>
<header class="rounded bg-rosePine-overlay mx-5 my-5 flex justify-evenly align-center">
<h1 class="text-xl text-rosePine-foam">mega ultra cool blog site</h1>
<nav class="text-sm">
<a class="mx-2 underline" href="./">Home</a>
<a class="ml-2 underline" href="./blogs">Blogs</a>
</nav>
</header>

    {{{body}}}

</body>

</html>
